body {

  background-color: #333;
  .background-red {
    background-color: red;
  }
  .background-green {
    background-color: green;
  }
  .background-yellow {
    background-color: yellow;
  }
  .background-blue {
    background-color: blue;
  }
}
